{% load static %}


<div class = "container-fluid list">

    <div class="row">
      {% for car in cars %}
        

          <div class="card custom-card col-md-2 col-xs-6" style="width: 15rem;">
            <a href ="{% url 'details' id=car.id %}" type='button'>
              <img src= "{{ car.urls.0 }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{car.category | upper}}  {{car.brand}} {{car.model}}</h5>

              <p class="card-text">Here will be the text to describe breavly our cars. Skip it for now. 
                Some quick example text to build on the card title and make up the bulk of the card's content.
                <div class="star-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
              </p>
              <div class="btn-price">
                <a href="{% url 'details' id=car.id %}" class="btn btn-default md "><i class="bi bi-plus-circle-fill"></i>More details</a>
                <h4 class='price'>$50</h4>
              </div>
              
            </div>
          </div>

        
        
      {% endfor %}

        



    
        <div class="card custom-card col-md-4 col-xs-6" style="width: 15rem;">
            <img src="{% static 'store/images/pickup1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              
              <!--
                 <h5 class="card-title">Card title</h5>
              --> 
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                <div class="star-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
              </p>
              <div class="btn-price">
                <a href="#" class="btn btn-default md "><i class="bi bi-plus-circle-fill"></i>More details</a>
                <h4 class='price'>$50</h4>
              </div>
              
            </div>
        </div>
        <div class="card custom-card col-md-4 col-xs-6" style="width: 15rem;">
            <img src="{% static 'store/images/sportn2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              
              <!--
                 <h5 class="card-title">Card title</h5>
              --> 
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                <div class="star-rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
              </p>
              <div class="btn-price">
                <a href="#" class="btn btn-default md "><i class="bi bi-plus-circle-fill"></i>More details</a>
                <h4 class='price'>$50</h4>
              </div>
              
            </div>
        </div>
    </div>

    
    <ul>
        {% for car in cars %}
            <li> {{car.model}} </li>
        {% endfor %}
    </ul>

</div>