{% extends 'store/base.html' %}
{% load static %}


{% block pagecontent %}
    <div class="container-fluid list !direction !spacing">
        <div class="row justify-content-center align-items-center g-2">
            {% for category in categories %}
                <div class="col-4 category-box" style="max-width: 17rem;">
                    <h5>{{category.title|upper}}</h5>
                    <a href="{% url 'categorypage' categoryname=category.title %}">
                        <div class="row img-verticale">
                            <img class="col-6 img-fluid" src="{{category.urls.0}}" alt="">
                            <img class="col-6 img-fluid" src="{{category.urls.1}}" alt="">
                        </div>
                        <img class="img-fluid" src="{{category.urls.2}}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    
    {% include 'store/carslist.html' %}
{% endblock pagecontent %}


